<body id="map-body">
    <div id="gameboy-container">
        <h1 id="welcome">PokéMap</h1>
        <img id="gameboy" src="img/gameboy_small.png">
        <img id="map" src="img/kanto_map.png">

        <form id="party-button" action="/pokemon">
            <button id="start-button" type="submit">
                <img id="pokeball" src="img/pokeball.png">
            </button>
        </form>
        <div class="map-pointer-container">
            <a href="/<%= allplaces[0].dataValues.id%>">
                <img class="map-pointer" id="route-1" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[1].dataValues.id%>">
                <img class="map-pointer" id="route-2" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[2].dataValues.id%>">
                <img class="map-pointer" id="route-3" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[3].dataValues.id%>">
                <img class="map-pointer" id="route-4" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[4].dataValues.id%>">
                <img class="map-pointer" id="route-5" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[5].dataValues.id%>">
                <img class="map-pointer" id="route-6" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[6].dataValues.id%>">
                <img class="map-pointer" id="route-7" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[7].dataValues.id%>">
                <img class="map-pointer" id="route-8" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[8].dataValues.id%>">
                <img class="map-pointer" id="route-9" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[9].dataValues.id%>">
                <img class="map-pointer" id="route-10" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[10].dataValues.id%>">
                <img class="map-pointer" id="route-11" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[11].dataValues.id%>">
                <img class="map-pointer" id="route-12" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[12].dataValues.id%>">
                <img class="map-pointer" id="route-13" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[13].dataValues.id%>">
                <img class="map-pointer" id="route-14" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[14].dataValues.id%>">
                <img class="map-pointer" id="route-15" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[15].dataValues.id%>">
                <img class="map-pointer" id="route-16" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[16].dataValues.id%>">
                <img class="map-pointer" id="route-17" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[17].dataValues.id%>">
                <img class="map-pointer" id="route-18" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[18].dataValues.id%>">
                <img class="map-pointer" id="route-19" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[19].dataValues.id%>">
                <img class="map-pointer" id="route-20" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[20].dataValues.id%>">
                <img class="map-pointer" id="route-21" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[21].dataValues.id%>">
                <img class="map-pointer" id="route-22" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[22].dataValues.id%>">
                <img class="map-pointer" id="route-23" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[23].dataValues.id%>">
                <img class="map-pointer" id="route-24" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[24].dataValues.id%>">
                <img class="map-pointer" id="route-25" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[25].dataValues.id%>">
                <img class="map-pointer" id="pallet-town" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[26].dataValues.id%>">
                <img class="map-pointer" id="viridian-city" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[27].dataValues.id%>">
                <img class="map-pointer" id="pewter-city" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[28].dataValues.id%>">
                <img class="map-pointer" id="cerulean-city" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[29].dataValues.id%>">
                <img class="map-pointer" id="vermilion-city" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[30].dataValues.id%>">
                <img class="map-pointer" id="lavender-town" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[31].dataValues.id%>">
                <img class="map-pointer" id="celadon-city" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[32].dataValues.id%>">
                <img class="map-pointer" id="fuchsia-city" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[33].dataValues.id%>">
                <img class="map-pointer" id="saffron-city" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[34].dataValues.id%>">
                <img class="map-pointer" id="cinnabar-island" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[35].dataValues.id%>">
                <img class="map-pointer" id="cerulean-cave" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[36].dataValues.id%>">
                <img class="map-pointer" id="mt-moon" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[37].dataValues.id%>">
                <img class="map-pointer" id="power-plant" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[38].dataValues.id%>">
                <img class="map-pointer" id="rock-tunnel" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[39].dataValues.id%>">
                <img class="map-pointer" id="victory-road" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[40].dataValues.id%>">
                <img class="map-pointer" id="viridian-forest" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[41].dataValues.id%>">
                <img class="map-pointer" id="seafoam-islands" src="img/map_pointer.svg">
            </a>
            <a href="/<%= allplaces[42].dataValues.id%>">
                <img class="map-pointer" id="special-event" src="img/map_pointer.svg">
            </a>
        </div>
    </div>
</body>

