<%# ------------- HTML -------------%>
<main>
    <h3 class="a"><%= oneplace.dataValues.name %></h3>
    <h5 class="italic gold-text"><%= oneplace.dataValues.kanji %></h5>
    <p>
        <form class="text-center" action="/">
            <button class="btn btn-primary" type="submit">Back to Map</button>
        </form>
    </p>

<%# ------------- PLACE IMAGE ------------- %>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Picture
                </td>
            </tr>
            <tr>
                <td>
                    <h5 class="italic gold-text"><%= oneplace.dataValues.flavortext %></h5>
                    <img class="place-img" src="img/place-img/<%= oneplace.dataValues.id %>.png">
                </td>
            </tr>
        </tbody>
    </table>

<%# ------------- POKEMON LIST ------------- %>
    <table class="data-table">
        <tbody>
            <tr>
                <td class="data-text">
                    Pokémon
                </td>
            </tr>
        </tbody>
    </table>

    <div class="poke-box">
        <% placeMons.forEach(mon => { %>
            <div class="well">
                <img class="home-sprite" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= mon.id %>.png">
                <h2 class="a"><span class="gold-text">#<%= mon.id %></span> <%= mon.name %></h2>
                <form method="POST" action="/pokemon">
                    <input hidden type="text" name="name" value="<%= mon.name %>">
                    <input hidden type="integer" name="dexnum" value="<%= mon.id %>">
                    <button class="btn btn-primary" type="submit">Add to Party</button>
                </form>
            </div>
        <% }) %>
    </div>
</main>


